.homepage-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #F6EACB;

  .homepage-title {

    p {
      font-size: 80px;
      margin-top: 0;
      margin-bottom: 0;
      color: #89ACD8;
    }
  }

  .homepage-body {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    padding: 20%;
    background-image:
      linear-gradient(rgba(243, 239, 239, 0.5), rgba(255, 255, 255, 0.507)),
      url('../../assets/Nichijou-classroom.jpg');

    .play-mode {
      display: flex;
      align-items: center;
      justify-content: center;

      .play-online-button {
        color: #C36353;
        height: 100%;
        font-size: 2.2rem;
        font-family: 'Secular One', sans-serif;
        background: #ffffff;
        border-radius: 10px;
        border: 3px solid #C36353;
        position: relative;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    .available-characters-table {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
    }

    .available-characteres-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .select-player {
        font-size: 60px;
        font-weight: 600;
      }
    }
  }
}