.board-layout {
  display: flex;
  flex-direction: column;

  .tic-tac-toe-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    margin: 20px;
    background-image: linear-gradient(rgba(255, 252, 252, 0.993), rgba(211, 211, 211, 0.651)),url('../../assets/nichijou_board_background.jpg'),;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .tic-tac-toe-board.disable-board {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.3;
  }
}