.timer {
  font-family: 'Orbitron', sans-serif;
  font-size: 25px;
  font-weight: 800;
  height: 100px;
  width: 100px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  p {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}