.characterCard {
  padding: 10px;
  background: #A4CDED;
  border-radius: 10px;
  border: 2px solid #87bee9;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }

  img {
    width: 100%;
  }
}