.player-board-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  background: #C1E5C2;

  .player-board {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .player-tag-name {
      font-size: 20px;
      font-weight: 600;
    }
  
    .player-avatar {
      display: flex;

      img {
        width: 30%;
        border-radius: 10px;
      }
    }
  }
}